

.navbar {
  background: white;
  border-bottom: 1px solid #eee;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  margin: 0;
}

.logo span {
  font-size: 12px;
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.nav-links .active {
  color: red;
}
