

.bg{
  background-color: violet;
  text-align: center;
}

.box{
  width:100%;
  height: 250px;
  background-color: yellowgreen;
}

.section{
width: 50%;
height: auto;
float: left;
text-align: center;
margin-top: 10px;
}

.img {
  width: 50%;
  height: auto;
  float: right;
  background-color: yellowgreen;
}
